node-red-flow.json
[
    {
        "id": "e1eb0ec4d64db4f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78fa40d55fa0bf93",
        "type": "http in",
        "z": "e1eb0ec4d64db4f8",
        "name": "",
        "url": "/consumo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "4ab70feb40e3dfb3"
            ]
        ]
    },
    {
        "id": "4ab70feb40e3dfb3",
        "type": "json",
        "z": "e1eb0ec4d64db4f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "3bcbbbbe949b0b45"
            ]
        ]
    },
    {
        "id": "3bcbbbbe949b0b45",
        "type": "function",
        "z": "e1eb0ec4d64db4f8",
        "name": "function 2",
        "func": "let consumo = parseFloat(msg.payload.consumo);\nmsg.payload = consumo;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "2e72b8e1984a623e",
                "07a44a0e20a73d0e"
            ]
        ]
    },
    {
        "id": "2e72b8e1984a623e",
        "type": "ui_gauge",
        "z": "e1eb0ec4d64db4f8",
        "name": "Consumo de Energia",
        "group": "9732f1555ad61745",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "kw",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "07a44a0e20a73d0e",
        "type": "http response",
        "z": "e1eb0ec4d64db4f8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "9732f1555ad61745",
        "type": "ui_group",
        "name": "Ecometric Dashboard",
        "tab": "c6e345905680e6ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6e345905680e6ba",
        "type": "ui_tab",
        "name": "Painel EcoMetric",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]